@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Inter', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Hide scrollbar in WebKit (Chrome, Safari, Edge) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in Firefox */
html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none; /* for IE & Edge Legacy */
  overscroll-behavior: none; /* optional: disables bounce scroll */
}

/* Ensure scroll still works */
body {
  overflow-y: scroll;
}

/* Reset all elements */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  font-size: 16px;
}

/* Reset Next.js wrapper if using App Router */
#__next,
#root {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
